<div class="container">
	<div class="row">
		<div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1" ng-if="LC.emailSend">
			<h1>VERIFICATION EMAIL SENT</h1>
			<h3>We've sent an email to <i class="text-brand">{{LC.email}}</i>. Click the link in the email to verify your address.</h3>
		</div>
		<div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1" ng-if="LC.status">
			<h1>EMAIL VERIFICATION NEEDED</h1>
			<h3>Your email address <span class="text-brand">{{LC.email}}</span> hasn't been verified yet. Click the link in the email to verify your address.</h3>
			<br>
			<a href="javascript:void(0)" class="btn btn-success" ng-click="LC.resend()">RESEND EMAIL</a>
		</div>
		<div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2" ng-if="LC.loginform">
			<h3 class="text-center">Log in to your account.</h3>
			<div class="card">
				<div class="card-body card-padding">
					<p class="text-danger text-center" ng-if="LC.authenticationFailed">Username or password is incorrect.</p>
					<form class="angular-form-basic" ng-submit="LC.submit()" name="login" novalidate>
					<div class="form-group" ng-class="{'has-error': (!login.email.$valid && login.email.$touched) || formError['email']}">
						<div class="form-line">
							<label class="form-label">Email Address</label>
							<input type="email" name="email" class="form-control" ng-model="LC.formData.email" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)" placeholder="email" required/>
						</div>
						<p class="text-danger form-error-msg">{{ formValidateMsg.required }}</p>
					</div>	
					<div class="form-group" ng-class="{'has-error': (!login.passwd.$valid && login.passwd.$touched) || formError['passwd']}">
						<div class="form-line">
							<label class="form-label">Password</label>
							<input type="password" name="passwd" class="form-control" ng-model="LC.formData.passwd" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)" placeholder="Password" required/>
						</div>
						<p class="text-danger form-error-msg">{{ formValidateMsg.required }}</p>
					</div>	
					<honeypot ng-model="LC.formData.honeypot"></honeypot>	
					<p class="text-center text-info">By logging in via any of the options below, you agree to our  Terms of Service.</p>
					<input type="submit" class="btn btn-success btn-full" value="Log In" ng-disabled="login.$invalid"/>
					</form>
				</div>
			</div>
			<div class="row text-right">
				<a href="user/forgotpassword" class="btn btn-link">FORGOT PASSWORD?</a>
			</div>
		</div>
	</div>
</div>