html, body {
	background: #F1F3F6;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	color: #3F3F3F;
	line-height: 1.7;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	padding-bottom: 100px;
	position: relative;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
	box-shadow: 0 0 0 1000px white inset !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
	color: #3F3F3F;
	line-height: 1.3;
}
.text-brand {
	color: #2980b9 !important;
}
.bg-white {
	background: #FFF;
}
.alert {
	border-radius: 0;
	border: 0;
	border-left: 3px solid transparent;
}
.alert-success {
	border-left-color: #d6e9c6;
}
.alert-danger {
	border-left-color: #ebccd1;
}
.alert-fixed {
	border: 0;
	border-radius: 30px;
	position: fixed;
	right: 260px;
	top: 30px;
	font-size: 14px;
	text-align: center;
	z-index: 100;	
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
	margin: 0;
	padding: 9px 20px;
	background: #6cb668;
	color: #FFF;
}
.alert-fixed .fa {
	margin-right: 5px;
}
.alert-fixed .close {
	margin-left: 15px;
	color: #FFF;
}
.navbar {
	margin: 0;
	border: 0;
}
.navbar-default {
	background: #2980b9;		
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-width: 0;
	margin: 0 0 30px 0;
	position: relative;
	z-index: 1;
}
.navbar-brand {
	position: relative;
	padding: 10px 15px;
}
.navbar-brand span {
	font-size: 10px;
	color: #FFF;
	margin-left: -2px;
	top: 13px;
	position: relative;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus ,
.navbar-default .navbar-nav > li > a:active {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #EEE;
	margin-left: 1px;
}
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus {
	color: #FFF;
	background: #598ec4;
	background: rgba(0, 0, 0, .1);
}
.navbar-default .navbar-nav > li > .dropdown-menu {
	/* margin-top: 8px; */
	border-radius: 0;
	padding-top: 12px;
	border: 0;
	box-shadow: 0 4px 16px rgba(20,23,28,.25);
	padding-bottom: 0;
}
.navbar-default .navbar-nav > li > .dropdown-menu>li>a {
	padding: 10px 22px
}
.navbar-default .navbar-nav > li > .dropdown-menu>li>a.ui-myaccount {
	padding-left: 74px;
}
.navbar-default .navbar-nav > li > .dropdown-menu>li>a.ui-myaccount .user-avatar{
	margin-left: -52px;
	float: left;
	margin-top: 0;
}
.navbar-default .navbar-nav > li > .dropdown-menu>li>a.ui-myaccount .uname{
	text-transform: capitalize;
	display: block;
	font-size: 16px;
}
.navbar-default .navbar-nav > li > .dropdown-menu>li>a.ui-myaccount .email{
	color: #999;
}
.navbar-default .navbar-nav > li > .dropdown-menu>li>a.ui-bg {
	background: #F5F5F5;
}

.navbar-default .navbar-nav > li:hover > .dropdown-menu {
	display: block;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
	margin-top: 14px;
	margin-bottom: 14px;
	border: 0;
	background: transparent;
	color: #FFF;
	outline: none;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
}
.navbar-default .navbar-nav > li > a.user-avatar,
.ui-myaccount .user-avatar {
	width: 44px;
	height: 44px;
	border-radius: 100%;
	overflow: hidden;
	margin-top: 8px;
	border: 1px solid rgba(0, 0, 0, .2);
	padding: 0;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 42px;
	font-weight: lighter;
}
.navbar-default .navbar-nav > li > a.user-avatar img,
.ui-myaccount .user-avatar img {
	width: 100%;
	height: 100%;
	float: left;
}
.navbar-nav.navbar-right:last-child {
	margin-right: 0;
}
/**/
.page-header-top {
	background: white;		
	border-bottom: 1px solid #EAEAEA;
	margin-bottom: 44px;
	margin-top: -30px;
}
.page-header-top .container {
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}
.page-header-top h1 {
	font-weight: lighter;
	margin: 0;
}
.page-header-top a.back-link {
	font-size: 12px;
	color: #2980b9;
}
.page-header-top a .fa {
	float: left;
	margin-top: 4px;
	margin-right: 4px;
}
.page-header-top .btn-add-float {
	position: absolute;
	right: 15px;
	bottom: -22px;
}
.home-page-header-top{
	cursor: text;
}
.home-page-header-top .page-top-search {
	overflow: hidden;
	margin-top: -5px;
	margin-bottom: -10px;
}
.home-page-header-top .btn {
	border-color: transparent;
}
.home-page-header-top .page-top-search input {
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    outline: none;
    font-size: 24px;
    font-weight: lighter;
	width: 100%;
}

/*CARD*/

.card {
	position: relative;
	background: #fff;
}
.card-padding {
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, .1);
}

/*FORM*/
.btn-full {
	width: 100%;
}
.form-control {
	border-color: #DCE5EC;
	border-radius: 0;
	box-shadow: none;
}
.angular-form-basic .form-label {
	font-weight: 400;
	color: #666;
}
.angular-form-basic .form-control {
    position: relative;
    z-index: 1;
	border-radius: 0;
	padding: 8px 15px;
	font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	box-shadow: none;
	resize: none;
	height: auto;
}
.angular-form-basic .form-group {
	margin-bottom: 30px;
}
.angular-form-basic .btn {
	padding: 8px 15px;
	border-bottom-width: 2px;
}
.angular-form-basic .form-error-msg {
	margin-top: 5px;
	display: none;
}
.angular-form-basic .has-error .form-error-msg {
	display: block;
}
.angular-form-basic .input-group .input-group-addon {
	border-radius: 0;
	border-color: #DCE5EC;
}
.angular-form-create .form-control {
	box-shadow: none;
	background: #FFF;
	resize: none;
}
.angular-form-create .form-title-read,
.angular-form-create .form-control.form-title {
	font-family: 'Merriweather', serif;
	font-size: 32px;
	margin-bottom: 20px;
	line-height: 1.3;
}

.angular-form-create .form-control.form-title {
	overflow: hidden;
	resize: none;
	height: 60px;
	padding: 0;
	border: 0;
}


/* 
 */
 .angular-new-form-warpper {
	padding-right: 280px
 }
 .col-left {
	float: left;
	width: 100%;
 }
 .col-left-fixed .mce-toolbar-grp.mce-container{
	position: fixed;
    top: 0;
    left: 0;
    right: 250px;
 }
 .col-right {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	border-left: 1px solid #DCE5EC;
	width: 250px;
	padding-top: 60px;
	background: #DCE5EC;
	overflow-y: auto;
	overflow-x: hidden;
 }
 .col-right-fixed {
	 position: fixed;
	 padding-top: 0;
 }
.fixed-wrapper-btns {
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
	border-top: 1px solid #CCC;
	text-align: center;
	padding: 5px 15px;
	z-index: 1000;
 }
 .fixed-wrapper-btns .btn {
	min-width: 125px;
	border-radius: 0;
 }
 .create-btns {
	text-align: right;
	right: 250px;
 }
 .col-right .panel-default {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin: 0;
	border-bottom: 1px solid #DCE5EC;
 }
 .col-right .panel-heading {
	border-radius: 0;
	font-weight: 700;
 }
 .col-right .panel-body .img-responsive {
	margin-top: 15px;
 }
 .col-right .panel-group .panel+.panel {
	 margin: 0;
 }

/**/

.ui-list {
	margin: 0;
	padding: 0;
}
.ui-list li {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	padding: 15px;
	background: #FFF;
	margin-bottom: 15px;
}
.ui-list li.published .publish-link {
	display: none;
}
.ui-list li h2.post-title {
	margin-top: 0;
	color: #3F3F3F;
	text-decoration: none;
	font-size: 1.7em;
	line-height: 1.45;
}
.ui-list li h2.post-title a {
	color: #3F3F3F;
	text-decoration: none;
}
.ui-list li .byline,
.ui-post-page .byline,
.ui-add-comment .byline {
	color: #999;
	font-style: italic;
}
.ui-list li .byline .fa,
.ui-post-page .byline .fa,
.ui-add-comment .byline .fa {
	font-size: 6px;
	vertical-align: middle;
	margin: 0 5px;
}
.ui-list li .description {
	font-size: 16px;
}
.ui-list li .tags .fa {
	opacity: .34;
	vertical-align: middle;
}
.ui-list li .tags a {
	font-size: 13px;
	margin-right: 5px;
	vertical-align: middle;
}
.ui-list li .tags a:not(:last-child):after {
	content: ","
}
@media only screen and (min-width: 599px) {
	.ui-list li.has-image .description {
		padding-left: 220px;
	}
}
.ui-list li .description .thumb {
	max-width: 220px;
	margin-bottom: 15px;
}
@media only screen and (min-width: 599px) {
	.ui-list li .description .thumb {
		float: left;
		margin-left: -235px;
		margin-bottom: 0;
	}
}
.ui-list li .status {
	position: absolute;
	left: 0;
	border: 0;
	border-radius: 0;
	padding: 6px 8px;
	display: block;
	bottom: 0;
	line-height: initial;
	background: #a0c29d;
	color: #FFF;
	text-transform: capitalize;
}
.ui-list li .status:after {
	display: block;
	content: '';
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	height: 30px;
	width: 10px;
	right: -10px;
	position: absolute;
	bottom: 0;
	border-left-color: #a0c29d;
	border-bottom-color: #a0c29d;
}
.ui-list li .action-link {
	position: absolute;
	right: 5px;
	top: 15px;
}
.ui-list li.no-record {
	font-size: 24px;
	color: #999;
	font-weight: lighter;
}

/*  */
.ui-post-page {
	background: #FFF;
	padding: 15px 30px;
}
.ui-post-page h1 {
	margin-top: 0;
}
.ui-post-page .description {
	font-size: 16px;
	line-height: 1.7;
	color: #666;
}
.ui-post-page .description p {
	margin-bottom: 20px;
}
.ui-post-page .description img {
	margin: auto;
	display: block;
	border: 1px solid #EAEAEA;
	max-width: 100%;
}

.ui-post-cat {
	margin: 0;
	padding: 0;
	margin-bottom: 64px;
}
.ui-post-cat li {
	display: block;
}
.ui-post-cat li a {
	display: block;
	padding: 6px 12px;
	color: #666;
	text-decoration: none;
}
.ui-post-cat li a:hover {
	background: #2980b9;
	color: #FFF;
}
/*67, 133, 61*/
.ui-add-comment { 
	background: #FFF;
}
.ui-add-comment .ui-add-comment-header h4 {
	display: inline-block;
	padding: 6px 15px;
	background: rgba(41, 128, 185, .65);
	color: #FFF;
	font-size: 16px;
	margin: 0;
	margin-left: -5px;
}
.ui-add-comment .ui-add-comment-body,
.ui-add-comment .ui-add-comment-footer {
	padding: 15px;
}
.ui-add-comment li {
	display: block;
}
.ui-add-comment li:not(:last-child) {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px dashed #EAEAEA;
}
.ui-add-comment .ui-add-comment-footer {
	background: #F7F9FA;
}

.floating-plus,
.floating-edit {
	height: 48px;
	width: 48px;
	border-radius: 24px;
	position: fixed;
	bottom: 64px;
	right: 30px;
	border: 0;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	font-size: 32px;
	color: #fff;
	font-weight: lighter;
	line-height: 48px;
	text-align: center;
	overflow: hidden;
	padding: 0;
}
.floating-edit {
	font-size: 20px;
}
.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle,#000 10%,transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10,10);
    opacity: 0;
    transition: transform .5s,opacity 1s;
}
.ripple:active:after {
    transform: scale(0,0);
    opacity: .2;
    transition: 0s;
}

/* ROUND BUTTON */

.btn-circle {
	height: 32px;
	width: 32px;
	border-radius: 100%;
	border: 0;
	padding: 0;
	line-height: 32px;
	text-align: center;
}
.btn-circle:not(:hover) .fa {
	opacity: .54;
}

/*PROFILE*/

.profile-container {
	background: #FFF;
	padding: 30px;
}
.profile-container .user-name{
	margin-top: 0;
}
.profile-container .aboutme {
	padding-left: 220px;
	font-size: 16px;
}
.profile-container .aboutme .profile-container-left {
	margin-left: -250px;
	width: 220px;
	float: left;
}
.profile-container .aboutme .profile-container-left .profile-container-img {
	position: relative;
}
.profile-container .aboutme .profile-container-left .profile-container-img #fine-uploader {
	position: absolute;
	bottom: 0;
    width: 100%;
}

.profile-container .aboutme .profile-container-left img {
	max-width: 220px;
}
.profile-container .aboutme h3 {
	font-weight: lighter;
	margin-top: 0;
	color: #2980b9;
}
.profile-container .social-media {
	margin-top: 60px;
}
.profile-container .social-media p {
	font-size: 18px;
	font-weight: lighter;
}
.profile-container p a{
	text-decoration: none;
	color: #3F3F3F;
	font-weight: lighter;
}
.profile-container p a:hover{
	color: #2980b9;
}
.profile-container .aboutme .input-group-addon .fa,
.profile-container .social-media .fa {
	min-width: 32px;
	text-align: center;
	opacity: .54;
	margin-right: 8px;
}

#fine-uploader .qq-drop-processing-selector, 
#fine-uploader .qq-upload-list{
	display: none;
}
.qq-upload-button {
	padding: 5px 10px;
	background: rgba(0, 0, 0, .5);
	color: #FFF;
	text-align: center;
	font-size: 12px;
}
/* PAGINATION */

.pagination-container {
	text-align: center;
}
.pagination>li>a, 
.pagination>li>span,
.pagination>li:first-child>a,
.pagination>li:last-child>a {
	border-radius: 100%;
	margin: 0 2px;
	cursor: pointer;
	width: 38px;
	height: 38px;
	border-width: 3px;
	background: transparent;
	color: #999;
	transition: all .2s ease-in-out;
	padding-left: 0;
	padding-right: 0;
}
.pagination>li:not(.disabled):hover>a {
	background: #CCC;
	border-color: #CCC;
	color: #3F3F3F;
}
.pagination>.active>a,
.pagination>.active:hover>a {
	background: #2980b9;
	border-color: #2980b9;
}
.pagination>.disabled>a {
	background: transparent;
	opacity: .54;
}
.pagination>.disabled:hover>a {
	background: transparent;
}

/* TAB */
.ui-tabs {
	margin-bottom: 30px;
}
.ui-tabs>li>a {
	color: #666;
	border-bottom: 3px solid transparent;
}
.ui-tabs>li {
	float: left;
	margin-bottom: -1px;
}
.ui-tabs>li>a.active {
	color: #2980b9;
	border-bottom-color: #2980b9;
}
.ui-tabs>li>a:hover ,
.ui-tabs>li>a:active,
.ui-tabs>li>a:focus  {
	background: transparent;
	color: #2980b9;
}

@media only screen and (max-width: 992px) {
	.container {
		width: 100%; 
	}
	.ui-post-page {
		padding: 15px;
	}
}
@media only screen and (max-width: 599px) {
	a[href^="/create"] {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.ui-read-post .ui-right-block,
	.navbar	{
		display: none; 
	}
	.navbar.in {
		display: block; 
	}

	.profile-container {
		padding: 15px;
	}
	.profile-container .aboutme {
		padding-left: 0;
	}
	.profile-container .aboutme .profile-container-left {
		margin-left: 0;
		width: 100%;
		float: none;
		margin-bottom: 30px;
	}
	.profile-container .social-media {
		margin-top: 30px;
	}

	.navbar-default .navbar  {
		margin: 0 -15px;
		border-top:1px solid rgba(0, 0, 0, .1);
		box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .2);
	}
	.navbar-default .navbar-nav > li > a,
	.navbar-default .navbar-nav > li > .dropdown-menu>li>a {
		border-bottom: 1px solid rgba(0, 0, 0, .1);;
	}

	.navbar-default .navbar-nav > li > a.user-avatar {
		display: none;
	}
	.navbar-default .navbar-nav > li > .dropdown-menu {
		display: block;
		position: static;
		background: transparent;
		box-shadow: none;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.navbar-default .navbar-nav > li > .dropdown-menu>li>a {
		color: #FFF;
		padding: 20px 15px;
	}
	.navbar-default .navbar-nav > li > .dropdown-menu>li>a:hover {
		background: rgba(255, 255, 255, .2);
	}
	.navbar-default .navbar-nav > li > .dropdown-menu>li>a.ui-myaccount .email {
		color: #DDD;
	}
	.navbar-default .navbar-nav > li > .dropdown-menu>li>a.ui-bg {
		border-bottom: 0;
	}
	.navbar-default .navbar-nav > li > .dropdown-menu>li>a.ui-bg:not(:hover) {
		background: transparent;
	}
	.navbar-default .navbar-nav > li > .dropdown-menu>li>a.ui-myaccount {
		padding-left: 67px;
	}
	.navbar-nav {
		margin: 0;
	}

}
/* 
* Tinymce code
*/
.mce-notification,
.mce-statusbar.mce-container.mce-panel.mce-stack-layout-item.mce-last  {
	display: none !important;
}
.mce-tinymce.mce-container.mce-panel {
	border: 0;
}
.mce-panel,
.mce-btn {
	background: #FFF !important;
}
.mce-ico {
	opacity: .54;
}
.mce-btn.mce-active button,
.mce-btn.mce-active button i{
	color: #3f3f3f !important;
	opacity: 1;
}
.mce-edit-area.mce-container,
.mce-btn {
	border: 0 !important;
}

.mce-container.mce-menubar {
 	border-width: 1px 1px 0 !important;
}
.mce-container.mce-toolbar-grp {
	border: 1px solid rgba(217,217,217,0.52);
	overflow-x: auto;
	overflow-y: hidden;
}
.mce-container.mce-toolbar-grp > .mce-container-body.mce-stack-layout{
	min-width: 800px;
}
.mce-edit-area {
	cursor: text;
}
/* 
 */
 tags-input .tags {
	 border-color: #DCE5EC;
	 box-shadow: none;
	 -webkit-appearance: none;
 }
 tags-input .tags.focused {
	box-shadow: none;
}
tags-input.ng-invalid .tags{
	border-color: rgba(255, 0, 0, 0.6);
	box-shadow: none;
}
tags-input .tags .tag-item {
	background: #2980b9;
	color: #FFF;
}
tags-input .tags .tag-item .remove-button {
	color: #CCC;
	text-decoration: none;
}

.mce-tinymce,
.mce-tinymce * {
	box-shadow: none !important;
}
.mce-top-part::before {
	display: none;
}