<div class="container">
	<div class="angular-new-form-warpper">
	<form class="angular-form-create" ng-submit="BCC.submit()" name="login" novalidate>
		<div class="col-left" ng-class="{'col-left-fixed': BCC.colLeftFixed}">
			<div class="form-title-read" expanding-textarea ng-if="BCC.frm.data._id">{{BCC.frm.data.title}}</div>
			<span ng-if="!BCC.frm.data._id">
			<textarea set-focus expanding-textarea disable-enter-key name="title" class="form-control form-title" ng-model="BCC.frm.data.title" placeholder="Title (required)" required/></textarea>
			<p ng-show="(!login.title.$valid && login.title.$touched) || BCC.frm.error['title']" class="text-danger">{{ BCC.frm.msg.required }}</p>
			</span>
			<!-- <p ng-show="(!login.description.$valid && login.description.$touched) || BCC.frm.error['description']" class="text-danger">{{ BCC.frm.msg.required }}</p> -->
			<textarea ui-tinymce="BCC.tinymceOptions" name="description" class="form-control" ng-model="BCC.frm.data.description" required/></textarea>

		</div>
		<div class="col-right" ng-class="{'col-right-fixed': BCC.colRightFixed}">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">Publish setting </div>
					<div class="panel-body">
						<!--
						<adm-dtp ng-model='BCC.frm.data.schedule_at' options='{freezeInput: true, multiple: false, minuteStep: 60}' mindate="{{BCC.mintime}}"></adm-dtp>
						<p></p>

						<input ng-if="BCC.frm.data.schedule_at" style="width: 100%" type="submit" class="btn btn-primary" value="Schedule…" ng-click="BCC.frm.data._action = 'SCHEDULE'" /> -->

						<button ng-if="!BCC.frm.data.schedule_at" type="submit" class="btn btn-primary btn-full" ng-click="BCC.frm.data._action = 'PUBLISH'" ng-disabled="!BCC.frm.data.title || !BCC.frm.data.description" ><span ng-if="BCC.frm.data.status != 'PUBLISHED'">Publish Immediately</span><span ng-if="BCC.frm.data.status == 'PUBLISHED'">Update</span></button>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Featured image url</div>
					<div class="panel-body">
						<input type="text" type="text" name="image" class="form-control" ng-model="BCC.frm.data.image" placeholder="Featured Image Url"/>
						<img ng-if="BCC.frm.data.image" ng-src="{{BCC.frm.data.image}}" class="img-responsive"/>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Category</div>
					<div class="panel-body">
						<select name="category" class="form-control" ng-model="BCC.frm.data.category">
							<option ng-repeat="(i, obj) in BCC.category" value="{{ obj.category }}">{{ obj.category }}</option>
						</select>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Tags</div>
					<div class="panel-body">
						<tags-input ng-model="BCC.frm.data.tags"></tags-input>
					</div>
				</div>
			</div>
			
		</div>
		<div class="fixed-wrapper-btns create-btns clearfix">
			<a target="_blank" ng-if="BCC.frm.data._id" href="/post/{{BCC.frm.data._id}}" class="btn btn-link pull-left"><i class="fa fa-eye"></i> Preview</a>
			<button type="submit" class="btn btn-default" ng-click="BCC.frm.data._action = 'DRAFT'" ng-disabled="!BCC.frm.data.title || !BCC.frm.data.description" /><span ng-if="BCC.frm.data.status == 'PUBLISHED'">Create copy and save</span><span ng-if="BCC.frm.data.status != 'PUBLISHED'">Save as Draft</span</button>
		</div>
	</form>
	</div>
</div>


<!-- ng-disabled="login.$invalid"-->

<div class="alert alert-success alert-fixed" ng-if="BCC.success">
	<i class="fa fa-check"></i> {{BCC.successMsg}}
	<a class="close" data-dismiss="alert" href="#" aria-hidden="true" ng-click="BCC.success = false">&times;</a>
</div>
<div class="alert alert-danger alert-fixed" ng-if="BCC.error">:( OOPS something went wrong please try again later.
	<a class="close" data-dismiss="alert" href="#" aria-hidden="true" ng-click="BCC.error = false">&times;</a>
</div>



<!-- <div class="form-group">
		<div class="form-line">
			<label class="form-label">Category
				<span>*</span>
			</label>
			<select name="category" class="form-control" ng-model="BCC.frm.data.category" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)"
			 required>
				<option ng-repeat="(i, obj) in BCC.category" value="{{ obj.category }}">{{ obj.category }}</option>
			</select>
		</div>
		<p ng-show="(!login.category.$valid && login.category.$touched) || BCC.frm.error['category']" class="text-danger">{{ BCC.frm.msg.required }}</p>
	</div>

	<div class="form-group">
		<div class="form-line">
			<label class="form-label">Tags
				<span>*</span>
			</label>
			<input type="text" name="tags" class="form-control" ng-model="BCC.frm.data.tags" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)"
			 required/>
		</div>
		<p ng-show="(!login.tags.$valid && login.tags.$touched) || BCC.frm.error['tags']" class="text-danger">{{ BCC.frm.msg.required }}</p>
	</div> -->

	<div ng-if="BCC.isDraft">
	<div class="modal-backdrop fade in"></div>
	<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title" id="myModalLabel">Saved Draft</h4>
			</div>
			<div class="modal-body">
				A more recent revision of this post exists. Restore?
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" ng-click="BCC.isDraft = false">Don't restore</button>
			  <button type="button" class="btn btn-primary" ng-click="BCC.resetDraftData()">Restore changes</button>
			</div>
		  </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	  </div><!-- /.modal -->
	</div>