<div class="container">
	<div class="row">
		<div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1" ng-hide="!RC.userSuccess">
			<h1>VERIFICATION EMAIL SENT</h1>
			<h3>We've sent an email to <i class="text-brand">{{RC.formData.email}}</i>. Click the link in the email to verify your address.</h3>
		</div>
		<div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2" ng-hide="RC.userSuccess">
			<h2 class="text-center">Sign Up</h2>
			<div class="card">
				<div class="card-body card-padding">
					<input type="hidden" ng-model="RC.isrender" value="true"/>
					<form class="angular-form-basic" ng-submit="RC.submit()" name="register" novalidate>
					<div class="form-group" ng-class="{'has-error': (!register.email.$valid && register.email.$touched) || formError['email']}">
						<div class="form-line">
						<label class="form-label">Email</label>
						<input type="email" name="email" class="form-control" ng-model="RC.formData.email" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)" placeholder="Email*" required/>
						</div>
						<p class="text-danger form-error-msg">
							<span ng-if="register.email.$error.required || (RC.formError['email'] && RC.formError['email'] == 'required')"> {{ RC.formValidateMsg.required }}</span>
							<span ng-if="register.email.$error.email || (RC.formError['email'] && RC.formError['email'] == 'email')">{{ RC.formValidateMsg.email }}</span>
						</p>
						<p ng-if="RC.emailunameTaken.email" class="text-danger form-error-msg">{{ RC.formValidateMsg.emailTaken }}</p>
					</div>
					<div class="form-group" ng-class="{'has-error': (!register.name.$valid && register.name.$touched) || RC.formError['name']}" >
						<div class="form-line">
							<label class="form-label">Full Name</label>
							<input type="text" name="name" class="form-control" ng-model="RC.formData.name" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)" placeholder="Full Name*" required/>
						</div>
						<p class="text-danger form-error-msg">{{ RC.formValidateMsg.required }}</p>
					</div>
					<div class="form-group" ng-class="{'has-error': (!register.gender.$valid && register.gender.$touched) || RC.formError['gender']}">
						<div class="form-line">
							<label class="form-label">Gender</label>
							<select name="gender" class="form-control" ng-model="RC.formData.gender" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)" required>
								<option value="">Gender*</option>
								<option value="male">Male</option>
								<option value="female">Female</option>
								<option value="other">Other</option>
							</select>
						</div>
						<p class="text-danger form-error-msg">{{ RC.formValidateMsg.required }}</p>
					</div>	
					<div class="form-group" ng-class="{'has-error': (!register.passwd.$valid && register.passwd.$touched) || RC.formError['passwd']}">
						<div class="form-line">
							<label class="form-label">Password</label>
							<input type="password" name="passwd" class="form-control" ng-model="RC.formData.passwd" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)" placeholder="Create a password*" required/>
						</div>
						<p class="text-danger form-error-msg">{{ RC.formValidateMsg.required }}</p>
					</div>	
					<div class="form-group" ng-class="{'has-error': (!register.passwdAgain.$valid && register.passwdAgain.$touched) || RC.formError['passwdAgain']}">
						<div class="form-line">
							<label class="form-label">Re type password</label>
							<input type="password" name="passwdAgain" class="form-control" ng-model="RC.formData.passwdAgain" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)" placeholder="Confirm your password*" required/>
						</div>
						<p class="text-danger form-error-msg">{{ RC.formValidateMsg.passwdAgain }}</p>
					</div>	
					<div class="form-group"><div id="gre-captcha"></div></div>
					<p class="text-center text-info">By Sign up in via any of the options below, you agree to our  Terms of Service.</p>
					<input type="submit" class="btn btn-success btn-full" data-sitekey="6LeejjMUAAAAANGCaIQx8tFeD8aZqnt_PmAwKuWM" data-callback='onSubmit' value="Submit"  ng-disabled="register.$invalid && !(formData.passwd && formData.passwdAgain && formData.passwd != formData.passwdAgain ) "/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>