<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2" ng-hide="!RC.userSuccess">
			<h1>VERIFICATION EMAIL SENT</h1>
			<h3>We've sent an email to <i class="text-brand">{{RC.formData.email}}</i>. Click the link in the email to verify your address.</h3>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<div class="card login-card" ng-hide="RC.userSuccess">
				<div class="card-heading">
					<h1>Sign In</h1>
				</div>
				<div class="card-body card-padding">
					<input type="hidden" ng-model="RC.isrender" value="true"/>
					<form class="angular-form angular-form-login" ng-submit="RC.submit()" name="register" novalidate>
					<div class="form-group">
						<div class="form-line">
						<i class="fa fa-envelope"></i>
						<input type="email" name="email" class="form-control" ng-model="RC.formData.email" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)" placeholder="Email*" required/>
						</div>
						<p ng-show="(!register.email.$valid && register.email.$touched) || formError['email']" class="text-danger">
							<span ng-if="register.email.$error.required || (RC.formError['email'] && RC.formError['email'] == 'required')"> {{ RC.formValidateMsg.required }}</span>
							<span ng-if="register.email.$error.email || (RC.formError['email'] && RC.formError['email'] == 'email')">{{ RC.formValidateMsg.email }}</span>
						</p>
						<p ng-if="RC.emailunameTaken.email" class="text-danger">{{ RC.formValidateMsg.emailTaken }}</p>
					</div>
					<div class="form-group">
						<div class="form-line">
						<i class="fa fa-vcard"></i>
								<input type="text" name="name" class="form-control" ng-model="RC.formData.name" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)" placeholder="Full Name*" required/>
						</div>
						<p ng-show="(!register.name.$valid && register.name.$touched) || RC.formError['name']" class="text-danger">{{ RC.formValidateMsg.required }}</p>
					</div>
					<div class="form-group">
						<div class="form-line">
						<i class="fa fa-user"></i>
								<input type="text" name="uname" class="form-control" ng-model="RC.formData.uname" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)" placeholder="Choose your username*" required/>
						</div>
						<p ng-show="(!register.uname.$valid && register.uname.$touched) || RC.formError['uname']" class="text-danger">{{ RC.formValidateMsg.required }}</p>
						<p ng-if="RC.emailunameTaken.uname" class="text-danger">{{ RC.formValidateMsg.unameTaken }}</p>
					</div>
					<div class="form-group">
						<div class="form-line">
						<i class="fa fa-genderless"></i>
								<select name="gender" class="form-control" ng-model="RC.formData.gender" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)" required>
									<option value="">Gender*</option>
									<option value="male">Male</option>
									<option value="female">Female</option>
									<option value="other">Other</option>
								</select>
						</div>
						<p ng-show="(!register.gender.$valid && register.gender.$touched) || RC.formError['gender']" class="text-danger">{{ RC.formValidateMsg.required }}</p>
					</div>	
					<div class="form-group">
						<div class="form-line">
						<i class="fa fa-key"></i>
								<input type="password" name="passwd" class="form-control" ng-model="RC.formData.passwd" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)" placeholder="Create a password*" required/>
						</div>
						<p ng-show="(!register.passwd.$valid && register.passwd.$touched) || RC.formError['passwd']" class="text-danger">{{ RC.formValidateMsg.required }}</p>
					</div>	
					<div class="form-group">
						<div class="form-line">
						<i class="fa fa-key"></i>
								<input type="password" name="passwdAgain" class="form-control" ng-model="RC.formData.passwdAgain" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)" placeholder="Confirm your password*" required/>
						</div>
						<p ng-show="(!register.passwdAgain.$valid && register.passwdAgain.$touched) || RC.formError['passwdAgain']" class="text-danger">{{ RC.formValidateMsg.passwdAgain }}</p>
					</div>	
					<div id="gre-captcha"></div>
					<p class="text-info">* fields are required</p>
					<input type="submit" class="btn btn-success" data-sitekey="6LeejjMUAAAAANGCaIQx8tFeD8aZqnt_PmAwKuWM" data-callback='onSubmit' value="Submit"  ng-disabled="register.$invalid && !(formData.passwd && formData.passwdAgain && formData.passwd != formData.passwdAgain ) "/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>