<div class="container">
	<div class="row">
		<div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1" ng-if="RP.norecord">
			<h1>OOPS!</h1>
			<h3>This url does not exist.</h3>
		</div>
		
		<div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1" ng-if="RP.error">
			<h1>OOPS!</h1>
			<h3>Somthing went wrong please try again later.</h3>
		</div>
		
		<div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2" ng-show="RP.displayForm">
			<div class="card login-card">
				<div class="card-heading">
					<h1>Reset Password</h1>
				</div>
				<div class="card-body card-padding">
					<input type="hidden" ng-model="RP.isrender" value="true"/>
					<form class="angular-form angular-form-login" ng-submit="RP.submit()" name="register" novalidate>

					<div class="form-group">
						<div class="form-line">
						<i class="fa fa-key"></i>
								<input type="password" name="passwd" class="form-control" ng-model="RP.formData.passwd" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)" placeholder="Create a password*" required/>
						</div>
						<p ng-show="(!register.passwd.$valid && register.passwd.$touched) || RP.formError['passwd']" class="text-danger">{{ RP.formValidateMsg.required }}</p>
					</div>	
					<div class="form-group">
						<div class="form-line">
						<i class="fa fa-key"></i>
								<input type="password" name="passwdAgain" class="form-control" ng-model="RP.formData.passwdAgain" ng-focus="onfocus($event)" ng-blur="onfocusOut($event)" placeholder="Confirm your password*" required/>
						</div>
						<p ng-show="(!register.passwdAgain.$valid && register.passwdAgain.$touched) || RP.formError['passwdAgain']" class="text-danger">{{ RP.formValidateMsg.passwdAgain }}</p>
					</div>	
					<div id="gre-captcha"></div>
					
					<input type="submit" class="btn btn-success"value="Reset Password"  ng-disabled="register.$invalid"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>