<div class="container ui-read-post">
	<div class="row">
		<div class="col-md-9 col-sm-9">
			<div ng-if="BRC.post">
				<div class=" ui-post-page">
					<h1>{{BRC.post.title}}</h1>
					<p class="byline"><strong>By</strong> <a href="/author/{{BRC.post.author[0].name | replaceSpaceWithDash}}-{{BRC.post.created_by}}">{{BRC.post.author[0].name}}</a> <i class="fa fa-circle"></i> {{BRC.post.created_on | date: date: 'MMM d, y'}}</p>
					<hr>
					<div class="description">
						<img ng-src="{{BRC.post.image}}">
						<div ng-bind-html="BRC.post.description"></div>
					</div>
				</div>
				<div class="ui-add-comment" ng-if="BRC.post.status === 'PUBLISHED'">
					<div class="ui-add-comment-header">
						<h4 ng-if="BRC.comments.list.length">{{BRC.comments.list.length}} Comments</h4>
					</div>
					<div class="ui-add-comment-body">
						<div class="alert alert-danger" ng-if="BRC.comments.error">Error fetching comment list.</div>
						<ul class="list-unstyled">
							<li ng-repeat="item in BRC.comments.list">
								<p>{{item.comment}}</p>
								<div class="byline"><strong>By</strong> <a href="/author/{{item.author[0].name | replaceSpaceWithDash}}-{{item.created_by}}">{{item.author[0].name}}</a> <i class="fa fa-circle"></i> {{BRC.post.created_on | date: 'MMM d, y'}}</div>
							</li>
						</ul>
					</div>
					<div class="ui-add-comment-footer">
						<div class="alert alert-danger" ng-if="BRC.frm.error">Error saving comment.</div>
						<form class="angular-form-basic" name="addComment" ng-submit="BRC.submit()" novalidate ng-if="BRC.isLogin">
								<textarea name="comment" rows="4" ng-model="BRC.frm.comment" class="form-control" placeholder="Enter Comment"></textarea><p ng-show="(!addComment.comment.$valid && addComment.comment.$touched) || BRC.frm.errors['comment']" class="text-danger">{{ BRC.frm.msg.required }}</p><p></p>
							<div>
							<input type="submit" class="btn btn-success" value="Submit" ng-disabled="!BRC.frm.comment">
							</div>
						</form>			
						<div ng-if="!BRC.isLogin">Please <a href="/user/login" target="_blank">login</a> for add Comment. </div>		
					</div>
				</div>				
			</div>
			<div ng-if="!BRC.post">
				<h1>OUCH :)</h1>
				<h3>No post found.</h3>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 ui-right-block">
			<h4>Categories</h4>
			<ul class="ui-post-cat">
				<li><a href="/category/Uncategorized">Uncategorized</a></li>
				<li ng-repeat="(i, obj) in BRC.category"><a href="/category/{{obj.category}}">{{obj.category}}</a></li>
			</ul>
			<h4 ng-if="BRC.post.tags.length">Tags</h4>
			<ul class="ui-post-cat" ng-if="BRC.post.tags">
				<li ng-repeat="tag in BRC.post.tags"><a href="/tags/{{tag.text}}">{{tag.text}}</a></li>
			</ul>
		</div>
	</div>
</div>